.feed{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.feedback-main-container{
    display: inline-table;
    margin: 8%;
    width: 40%;
    height: auto;
}

/*1----------------------------------------------------------------------------------------------------------------------*/
.feedback-container{
    display: flex;
    flex-direction: column;
    color: #707070;
    padding: 2%;
    overflow: auto;
    background-color: #fff;
    border: dashed 1px #777777;
    border-radius: 2.5%;
    box-shadow: 0px 0px 0px 5px #f7f7f7, 0px 0px 2px 7px #bbb, 0px 0px 5px 5px #f7f7f7 inset;
}

.feedback-container-border{
    padding: 2%;
}

.container-text{
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color: #000000;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

}

.contactList{
    display: flex;
    flex-direction: column;
}
.contact-1{
    padding: 1% 1% 1% 1%;
}

.contact-2, .contact-3{
    padding: 1% 1% 1% 0;
}

#id_subject{
    background-color: #fafafa;
    border: solid 2px rgba(155, 155, 219, 0.7);
    padding: 5px 30px;
    width: 90%;
    border-radius: 40px;
    box-shadow:0 0 4px rgba(155, 155, 219, 0.8);
    transition: .3s box-shadow;
}

#id_subject:hover{
    box-shadow:0 0 8px rgba(155, 155, 219, 1);
}

#id_email{
    background-color: #fafafa;
    border: solid 2px rgba(155, 155, 219, 0.7);
    padding: 5px 30px;
    width: 90%;
    border-radius: 40px;
    box-shadow:0 0 4px rgba(155, 155, 219, 0.8);
    transition: .3s box-shadow;
}

#id_email:hover{
    box-shadow:0 0 8px rgba(155, 155, 219, 1);
}

#id_content{
    background-color: #fafafa;
    border: solid 2px rgba(155, 155, 219, 0.7);
    padding: 16px 30px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 40px;
    box-shadow:0 0 4px rgba(155, 155, 219, 0.8);
    transition: .3s box-shadow;
}

#id_content:hover{
    box-shadow:0 0 8px rgba(155, 155, 219, 1);
}

.g-recaptcha{
    display: flex;
    justify-content: center;
}

.send-button{
    display: flex;
    justify-content: center;
    margin: 2%;
}

.button{
    font-size: 130%;
    border-radius: 10px;
    border-color: #07166d;
    padding: 2% 20%;
    color: #fff;
    box-shadow: 0 0 40px 40px #07166d inset, 0 0 0 0 #07166d;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.button-1{
    font-size: 100%;
    border-radius: 10px;
    border-color: #576ad1;
    padding: 2% 50%;
    color: #fff;
    box-shadow: 0 0 40px 40px #576ad1 inset, 0 0 0 0 #576ad1;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.button:hover{
    box-shadow: 0 0 3px 0 #07166d inset, 0 0 10px 0.5px #07166d;
    color:#000000;
}

/*2------------------------------------------------------------------------------------------------------------------------------------------*/



.feedbacks-container-pols{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 4%;
}

.feedbacks-detail-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.feedback-container-2{
    border-style: solid;
    width: 450px;
    height: 130px;
    border-color: rgb(221, 221, 224);
    background-color: white;
    margin: 1%;
    padding: 2% 4% 2% 4%;
    box-shadow: 0 5px 5px #afafaf, 0 5px 5px #afafaf, 0 5px 5px #afafaf;
    overflow-y: scroll;
}

.feedback-card-title{
    border-bottom: 2px solid #cdd5ff;
}

.obr{
    display: flex;
    border-bottom: 4px solid black;
    justify-content: center;
    background-color: #000000;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.feedback-item::-webkit-scrollbar {
    width: 8px;
    background-color: white;
    border-radius: 3.8px;
  }
  
  .feedback-item::-webkit-scrollbar-thumb {
    background-color: #07166d;
  }
  
  .feedback-item::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: white;
  }

@media screen and (max-width: 600px){
    .feed{
        display: flex;
        flex-direction: column;
    }

    .feedback-main-container{
        margin: 5%;
    }

    .feedbacks-detail-container{
        width: 100%;
    }

    #id_content{
        box-sizing: border-box;
        width: 70%;
        border-radius: 10%;
    }

    .feedback-container-2{
        width: 300px;
        margin: 2%;
    }
}

@media screen and (max-width: 768px){
    .feedback-main-container{
        display: inline-table;
        margin: 8%;
        width: 75%;
        height: auto;
    }
    

    .feed{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feedback-main-container{
        margin: 5%;
    }

    .feedbacks-detail-container{
        width: 100%;
    }

    #id_content{
        box-sizing: border-box;
        width: 70%;
        border-radius: 10%;
    }
    .obr{
        font-size: 80%;
    }

}

.feedback-card-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.feedback-card-subject{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}