<!DOCTYPE html>
<html>
    <head>        
        <title>ЛЮБЛЮ АНИМЕ</title>
        <link rel="icon" href="/static/assets/images/favicon.ico" >    
    </head>
    <header>        
        <div class="verh">
            <div class="name">                
                <h1>
                    chеловечек                
                </h1>
            </div>            
            <div class="silka">
                <a href="{% url 'home' %}"></a>            
            </div>
        </div>    
    </header>
    <body>        
        <div class="osnjva">
            <div class="text">                
                <h5> я смотрю аниме каждый день </h5>
            </div>            
            <div class="chel ti">
                <h5><dfn>аниме</dfn>Какое то ебаное говно нахуй</h5>            
            </div>
        </div>    
    </body>
    <footer>        
        <span class="konec">
            <button href="https://vk.com/danya6825" class="кнопка" >pups</button>        
        </span>
    </footer>
</html>