{% extends 'base.html' %}
{% block page_title %}Антикоррупционная экспертиза{% endblock page_title %}
{% block content %}
<div class="regular-documents-container">
    <div class="reg-docs-cont">
        <div class="obr"><h1>Антикоррупционная экспертиза</h1></div>
        <div class="reg-docs-one-cont">
            <p>В соответствии с Положением о Контрольно-счетной палате городского округа Мытищи, утвержденным решением Совета депутатов городского округа Мытищи от 18.02.2016 № 2/6 предусмотрено:
                <br>
                — участие в пределах полномочий в мероприятиях, направленных на противодействие коррупции;
                <br>
                — при наличии признаков состава правонарушения подготовка и направление материалов по результатам проведенных контрольных и экспертно-аналитических мероприятий в правоохранительные органы в соответствии с требованиями действующего законодательства
                <br>
                Официальный  сайт  для размещения информации о подготовке федеральными органами исполнительной власти проектов нормативных правовых актов и результатах их общественного обсуждения  (<a href="www.regulation.gov.ru">www.regulation.gov.ru</a>).
            </p>
        </div>
    </div>
</div>
{% endblock content %}