{% extends 'base.html' %}
{% block page_title %}Перечень информационных систем, банков данных, реестров, регистров, находящихся в ведении КСП{% endblock page_title %}
{% block content %}
<div class="tasks-main-container">
    <div class="tasks-cont">
        <div class="tasks-text">
            <h3>Перечень информационных систем, банков данных, реестров, регистров, находящихся в ведении КСП</h3>
            <table>
                <tr>
                    <th>№ п/п</th>
                    <th style="text-align: center;">Наименование</th>
                </tr>
                <tr>
                    <td style="text-align: center;">1.</td>
                    <td>Ведомственная информационная система КСП Московской области (блок сбора и свода отчетности)</td>
                </tr>
                <tr>
                    <td style="text-align: center;">2.</td>
                    <td>Межведомственная система электронного документооборота (МСЭД)</td>
                </tr>
                <tr>
                    <td style="text-align: center;">3.</td>
                    <td>Справочно-правовая система «Консультант Плюс»</td>
                </tr>
                <tr>
                    <td style="text-align: center;">4.</td>
                    <td>Программный комплекс «Строительный Эксперт»</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}