{% extends 'base.html' %}
{% block page_title %}Руководство{% endblock page_title %}
{% block content %}
<div class="tasks-main-container">
    <div class="tasks-cont">
        <div class="tasks-text">
            <h1>Руководство</h1>
            <p>
                <br>
                Исполняющий обязанности председателя Контрольно-счётной палаты городского округа Мытищи
                <h4>Седойкин Павел Сергеевич</h4>
                Телефон: (495) 583-40-45
                <br>
                г. Мытищи, Новомытищинский пр-кт 30/1, каб.1
                <br>
                Координирует направления деятельности при осуществлении Контрольно-счетной палатой городского округа Мытищи контрольных и экспертно-аналитических мероприятий.
                <br>
                Взаимодействует с Контрольно-счетной палатой Московской области и других субъектов Российской Федерации, а также со Счетной палатой Российской Федерации, территориальным управлением Центрального Банка Российской Федерации, территориальными органами Федерального казначейства, налоговыми органами, органами прокуратуры, иными правоохранительными, надзорными и контрольными органами Российской Федерации, субъектов Российской Федерации и муниципальных образований.
                <br>
                Участвует в заседаниях Ассоциации контрольно-счетных органов Российской Федерации, Ассоциации контрольно-счетных органов Московской области, а также в работе координационных и совещательных органов, созданных Советом депутатов городского округа Мытищи и Администрацией городского округа Мытищи.
                <br>
                Осуществляет иные полномочия, предусмотренные федеральным законодательством, законами и иными нормативными правовыми актами Московской области, муниципальными правовыми актами городского округа Мытищи, Положением «О Контрольно-счетной палате городского округа Мытищи», Регламентом Контрольно-счетной палаты городского округа Мытищи.
                <br>
                Аудитор Контрольно-счётной палаты городского округа Мытищи
                <br>
                </p>
                <p>
                Заместитель председателя Контрольно-счетной палаты городского округа Мытищи Московской области
                <h4>Черменёв Павел Николаевич</h4>
                Обязанности заместителя председателя Контрольно-счетной палаты городского округа Мытищи Московской области.
                <br>
                Координирует деятельность Аудиторов Контрольно-счетной палаты при осуществлении контрольных и экспертно-аналитических мероприятий;
                <br> 
                Координирует разработки проекта годового плана работы Контрольно-счетной палаты (изменений и дополнений к нему) и представляет его на рассмотрение Коллегии;
                <br> 
                Осуществляет контроль за выполнением планов работы Контрольно-счетной палаты; осуществляет контроль за формированием ежегодных отчетов о деятельности Контрольно-счетной палаты; 
                <br>
                В случае невозможности временного осуществления должностных обязанностей Аудитора другим Аудитором; 
                <br>
                Курирует направление данного Аудитора;
                <br> 
                Организует методическую работу; 
                <br>
                В отсутствие Председателя руководит работой Коллегии и подписывает ее решения.
                </p>
                <p>
                <h4>Касимова Елена Владимировна</h4>
                Телефон: 8-495-583-09-75
                <br>
                г. Мытищи, Новомытищинский пр-кт 30/1, каб.7
                <br>
                Координирует и организует работу по направлениям:
                <br>
                Контроль за формированием и исполнением бюджета.
                <br>
                Контроль за расходами средств из бюджета городского округа Мытищи на:
                <br>
                -культуру;
                <br>
                -физическую культуру и спорт;
                <br>
                -образование;
                <br>
                -социальную политику;
                <br>
                -здравоохранение.
                <br>
                Объекты контроля:
                <br>
                -Администрация городского округа Мытищи.
                <br>
                -Совет депутатов городского округа Мытищи.
                <br>
                -Финансовое управление Администрации городского округа Мытищи.
                <br>
                -Управление культуры и молодёжной политики Администрации городского округа Мытищи.
                <br>
                -Управление по физической культуре, спорту  Администрации городского округа Мытищи.
                <br>
                Аудитор Контрольно-счётной палаты городского округа Мытищи
                <br>
                </p>
                <p>
                <h4>Красикова Татьяна Ивановна</h4>
                Телефон: (495) 583-11-47
                <br>
                г. Мытищи, Новомытищинский пр-кт 30/1, каб.7
                <br>
                Координирует и организует работу по направлениям:
                <br>
                Контроль за расходами средств из бюджета городского округа Мытищи на:
                <br>
                -оборону, безопасность и правоохранительную деятельность;
                <br>
                -экономику;
                <br>
                -жилищно-коммунальное хозяйство;
                <br>
                -охрану окружающей среды;
                <br>
                -средства массовой информации;
                <br>
                -капитальное строительство.
                <br>
                Контроль за соблюдением установленного порядка управления и распоряжения имуществом городского округа Мытищи;
                <br>
                Объекты контроля:
                <br>
                -Администрация городского округа Мытищи.
                <br>
                -Управление градостроительного развития Администрации городского округа Мытищи.
                <br>
                -Управление земельно-имущественных отношении Администрации городского округа Мытищи.
                <br>
                -Управление капитального строительства Администрации городского округа Мытищи.
                <br>
                -Управление жилищно-коммунального хозяйства и благоустройства Администрации городского округа Мытищи.
                <br>
                -Управление территориальной безопасности Администрации городского округа Мытищи.
                <br>
            </p>
        </div>
    </div>
</div>
{% endblock content %}