{% extends 'base.html' %}
{% load static %}
{% block page_title %}Информация о закупах{% endblock page_title %}
{% block content %}
<div class="tasks-main-container">
    <div class="tasks-cont">
        <div class="tasks-text">
            <h3>Информация о закупах</h3>
            <p>В соответствии с Федеральным законом от 05.04.2013 № 44-ФЗ «О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд» информация о данной деятельности КСП городского округа Мытищи размещена на официальном сайте в сети «Интернет»: www.zakupki.gov.ru.</p>
            <a href="https://docs.yandex.ru/docs/view?url=ya-browser%3A%2F%2F4DT1uXEPRrJRXlUFoewruGVHVs6Aj4hv1HzF-IHaWY_hcwFJa4Bd2o95DwqaF2xJhp9Hu1S2tEHH37UCqZR8L34jtnf_KUaYeJWsPavFteq_R_-Chv0Er2pOBjpmr5sFFlbIOlrs34dQkYPjsOQVGg%3D%3D%3Fsign%3DP9ZYoZGGf89OfJWLtE3NOM4vh5bTBIIgBHulcJMZy7s%3D&name=isp-sreslt-2018-19-1.docx">Сведения об использовании бюджетных средств,выделенных для обеспечения деятельности Контрольно-счетной палаты городского округа Мытищи московской области в 2019 году </a>
            <br>
            <a href="https://docs.yandex.ru/docs/view?url=ya-browser%3A%2F%2F4DT1uXEPRrJRXlUFoewruAkfz9rBp-lydPGVD2eQIB8dcMi3aHLqrWls7lgBTidpTfB8Hl50CiEy9f_tanNRZnVwAwE0qydWFg6DMyRRX2g-QUP0ZsWu6wEXzbHDrpudBGcYH31ZtjKst2PH7fpcuQ%3D%3D%3Fsign%3DHgoO5VgBM87qhyFo2kN-wU5CyM6vARehU0gs7fQ1Z04%3D&name=isp-sreslt-2018-19-1.docx">Сведения об использовании бюджетных средств,выделенных для обеспечения деятельности Контрольно-счетной палаты городского округа Мытищи московской области в 2018 году</a>
            <br>
        </div>
    </div>
</div>
{% endblock content %}