{% extends 'base.html' %}
{% block page_title %}Кадровое обеспечение{% endblock page_title %}
{% block content %}
<div class="tasks-main-container">
    <div class="tasks-cont">
        <div class="tasks-text">
            <h2>Кадровое обеспечение</h2>
           <a href="https://docs.yandex.ru/docs/view?url=ya-browser%3A%2F%2F4DT1uXEPRrJRXlUFoewruOHvXFIs9kQ3bwwyJgfHe7wMa0mQ1tsKetqfDhY-s8KSWvxWcX10t6r5oQuU2DcTpfkZlLA1Fx7AKF0hkSh0_f5M5mQM4WdrDYgCxSnc-T7h2PE2rEgKtbB5QQGhXeSMDw%3D%3D%3Fsign%3Dx_Yj8ZyMQmRfUCqg2bj1iP8FzD_ML65u9BNEcdqc3LA%3D&name=munitsipalnaya-sluzhba.doc">Муниципальная служба. Порядок поступления на муниципальную службу.</a>
           <br>
           <p>
            Штатная численность Контрольно-счетной палаты городского округа Мытищи Московской области составляет 13 человек. Среднесписочная численность сотрудников за I квартал 2022 год составляет 12 единиц.
            </p>
            <p>
            Для замещения вакантных должностей муниципальной  службы может предшествовать конкурс,  при отсутствии кадрового резерва. В настоящее время  идет работа по формированию кадрового резерва.
            </p>
            Справочную информацию о порядке поступления на муниципальную службу в Контрольно-счетную палату городского округа Мытищи Московской области можно получить в рабочие дни с 9-00 до 18-00 ( в пятницу с 8-00 до 15-45)  по тел. 8 (495)583-09-45
            <p>
            ВАКАНТНЫХ ДОЛЖНОСТЕЙ НЕТ.
           </p>
        </div>
    </div>
</div>
{% endblock content %}