{% extends 'base.html' %}
{% block page_title %}Сведения об использовании выделяемых бюджетных средств{% endblock page_title %}
{% block content %}
<div class="tasks-main-container">
    <div class="tasks-cont">
        <div class="tasks-text">
            <h3>Сведения об использовании выделяемых бюджетных средств</h3>
            <table>
                <tr>
                    <th>Наименование раздела(подраздела)</th>
                    <th>2019 год</th>
                    <th>2020 год</th>
                    <th>2021 год</th>
                </tr>
                <tr>
                    <th>Исполнено</th>
                    <td>% исп.</td>
                    <td>Исполнено</td>
                    <td>% исп.</td>
                    <td>Бюджетная роспись</td>
                    <td>Исполнено</td>
                    <td>% исп.</td>
                </tr>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8  </th>
                </tr> 
                <tr>
                    <td>Общегосударственные вопросы (01 00)</td>
                    <td>22 854,7</td>
                    <td>95,4</td>
                    <td>19 536,7</td>
                    <td>99,6</td>
                    <td>23 388,9</td>
                    <td>22 848,2</td>
                    <td>97,7</td>
                </tr>
                <tr>
                    <td>Обеспечение деятельности финансовых, налоговых и таможенных органов и органов финансового (финансово-бюджетного) надзора (01 06)</td>
                    <td>22 854,7</td>
                    <td>95,4</td>
                    <td>19 536,7</td>
                    <td>99,6</td>
                    <td>23 388,9</td>
                    <td>22 848,2</td>
                    <td>97,7</td>
                </tr>
                <tr>
                    <td>Итого</td>
                    <td>22 854,7</td>
                    <td>95,4</td>
                    <td>19 536,7</td>
                    <td>99,6</td>
                    <td>23 388,9</td>
                    <td>22 848,2</td>
                    <td>97,7</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}