{% extends 'base.html' %}
{% block page_title %}Задачи, полномочия{% endblock page_title %}
{% block content %}
<div class="tasks-main-container">
    <div class="tasks-cont">
        <div class="tasks-text">
            <h1>Задачи, полномочия
                <br>
            </h1>
            <p>Основные задачи и полномочия Контрольно-счетной палаты городского округа Мытищи
                <br>
                1. Контроль за исполнением бюджета городского округа Мытищи.
                <br>
                2. Экспертиза проектов местного бюджета.
                <br>
                3. Внешняя проверка годового отчета об исполнении местного бюджета.
                <br>
                4. Организация и осуществление контроля за законностью, результативностью (эффективностью и экономностью) использования средств местного бюджета, а также средств, получаемых местным бюджетом из иных источников, предусмотренных законодательством Российской Федерации.
                <br>
                5. Контроль за соблюдением установленного порядка управления и распоряжения имуществом, находящимся в муниципальной собственности, в том числе охраняемыми результатами интеллектуальной деятельности и средствами индивидуализации, принадлежащими муниципальному образованию «городской округ Мытищи Московской области».
                <br>
                6. Оценка эффективности предоставления налоговых и иных льгот и преимуществ, бюджетных кредитов за счет средств местного бюджета. Оценка законности предоставления муниципальных гарантий и поручительств или обеспечения исполнения обязательств другими способами по сделкам, совершаемым юридическими лицами и индивидуальными предпринимателями за счет средств местного бюджета и имущества, находящегося в муниципальной собственности.
                <br>
                7. Финансово-экономическая экспертиза проектов муниципальных правовых актов (включая обоснованность финансово-экономических обоснований) в части, касающейся расходных обязательств муниципального образования, а также муниципальных программ.
                <br>
                8. Анализ бюджетного процесса в муниципальном образовании и подготовка предложений, направленных на его совершенствование.
                <br>
                9. Подготовка информации о ходе исполнения местного бюджета, о результатах проведенных контрольных и экспертно-аналитических мероприятий и представление такой информации в Совет депутатов городского округа Мытищи и Главе городского округа Мытищи.
                <br>
                10. Участие в пределах полномочий в мероприятиях, направленных на противодействие коррупции.
                <br>
                11. Иные полномочия в сфере внешнего муниципального финансового контроля, установленные федеральными законами, законами Московской области и нормативными правовыми актами Совета депутатов городского округа Мытищи.
                <br>
            </p>    
            <p>Контрольно-счетная палата, помимо перечисленных полномочий, осуществляет контроль за законностью, результативностью (эффективностью и экономностью) использования средств местного бюджета, поступивших в бюджеты поселений, входящих в состав Мытищинского муниципального района.</p>
            <br>
            <p>Контрольно-счетная палата может осуществлять полномочия внешнего муниципального контроля в поселениях, входящих в состав Мытищинского муниципального района, в соответствии с соглашениями, заключёнными Советом депутатов Мытищинского муниципального района с Советами депутатов поселений.
            <br>
            Внешний муниципальный финансовый контроль осуществляется Контрольно-счетной палатой:
            </p>
            <p>
               <br>
                — в отношении органов местного самоуправления и муниципальных органов, муниципальных учреждений и унитарных предприятий городского округа Мытищи, а также иных организаций, если они используют имущество, находящееся в муниципальной собственности городского округа Мытищи;
                <br>
                — в отношении иных организаций путём осуществления проверки соблюдения условий получения ими субсидий, кредитов, гарантий за счёт средств местного бюджета в порядке контроля за деятельностью главных распорядителей и получателей средств местного бюджета, предоставивших указанные средства, в случаях, если возможность проверок установлена в договорах о предоставлении субсидий, кредитов, гарантий за счёт средств местного бюджета.
            </p>
        </div>
    </div>
</div>
{% endblock content %}